[Desktop Entry]
Type=Application
Version=1.0
Name=Compozitorium AI Studio
GenericName=Audio Editor
GenericName[ru]=Аудиоредактор
Comment=Smart audio editor with AI
Comment[ru]=Умный аудиоредактор с искусственным интеллектом
Exec=io.github.compozitorium.studio
Icon=io.github.compozitorium.studio
StartupWMClass=io.github.compozitorium.studio
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Music;
Keywords=audio;AI;editor;studio;music;аудио;ИИ;редактор;студия;
